mnist_model.h5
temp_userPicture.jpg

newCoverPage/result1.jpg
newCoverPage/result2.jpg
newCoverPage/result3.jpg
newCoverPage/result4.jpg

styleTransfer/styled_result_image1.jpg
styleTransfer/styled_result_image2.jpg
styleTransfer/styled_result_image3.jpg
styleTransfer/styled_result_image4.jpg

temp.jpg